<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='stylesheets/style.css' />-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/addressList.css">
  </head>
  <body>
  <div class="main">
    <div class="topBar navbar navbar-default">
      <div class="container-fluid">
        <div class="row">
          <button class="btn" id="view"><span class="glyphicon glyphicon-align-justify"></span></button>
          <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="addLabel">新建联系人</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                        <form role="form" method="post" onsubmit="false">
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                              <input type="text" class="form-control" name="name"  id="addName" placeholder="姓名">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
                              <input type="text" class="form-control" name="telephone" id="addTelephone" placeholder="固定电话">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                              <input type="text" class="form-control" name="mobile" id="addMobile" placeholder="手机">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                              <input type="text" class="form-control" name="telephone" id="addCompany" placeholder="公司">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
                              <input type="text" class="form-control" name="post" id="addPost" placeholder="职位">
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" id="addBtn">添 加</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">关 闭</button>
                </div>
              </div>
            </div>
          </div>
          <a data-toggle="modal" data-target="#addModal" class="btn btn-primary" id="add"><span class="glyphicon glyphicon-plus"></span></a>
          <form onsubmit="false" method="post" id="filterForm">
            <div class="form-group">
              <div class="input-group">
                <input type="text" name="filter"  id="filter" placeholder="请输入关键字">
                <div  class="dropdown" id="filterList">
                  <button class="dropdown-toggle" data-toggle="dropdown">
                    <span id="filterName">筛选条件</span><span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="#" id="name">姓名</a></li>
                    <li><a href="#" id="telephone">固定电话</a></li>
                    <li><a href="#" id="mobile">手机</a></li>
                    <li><a href="#" id="company">公司</a></li>
                    <li><a href="#" id="post">职位</a></li>
                  </ul>
                </div>
                <input type="text" name="filterType" id="filterType" class="hidden">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="content">
      <ul id="contactsList" class="list-group">
        <li class="contactsHeader list-group-item row">
          <span class="name col-lg-2 col-md-2 col-sm-2 col-xs-2">姓 名</span>
          <span class="telephone col-lg-2 col-md-2 col-sm-2 col-xs-2">固定电话</span>
          <span class="mobile col-lg-2 col-md-2 col-sm-2 col-xs-2">手 机</span>
          <span class="company col-lg-2 col-md-2 col-sm-2 col-xs-2">公 司</span>
          <span class="post col-lg-2 col-md-2 col-sm-2 col-xs-2">职 位</span>
          <span class="post col-lg-2 col-md-2 col-sm-2 col-xs-2">操 作</span>
          <!--<div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2"><button class="operation btn btn-success">操 作</button></div>-->
        </li>
        <div id="results">
          <li class="contacts list-group-item row">
            <span class="name col-lg-2 col-md-2 col-sm-2 col-xs-2">林某某</span>
            <span class="telephone col-lg-2 col-md-2 col-sm-2 col-xs-2">88888888</span>
            <span class="mobile col-lg-2 col-md-2 col-sm-2 col-xs-2">18088888888</span>
            <span class="company col-lg-2 col-md-2 col-sm-2 col-xs-2">Tencent</span>
            <span class="post col-lg-2 col-md-2 col-sm-2 col-xs-2">CTO</span>
            <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <button class="edit btn btn-success">编 辑</button>
              <button class="delete btn btn-warning">删 除</button>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
  <div  class="leftBar">
    <div id="userBar">
      <img class="img-circle" id="userImg" src="/images/user.png">
      <div class="dropdown" id="userButton">
        <a href="home" id="user" class="dropdown-toggle" data-toggle="dropdown">
          <%=currentUser%>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-left">
          <li><a href="#" id="logout">注销</a> </li>
        </ul>
      </div>
    </div>
    <div id="functionBar">
      <ul>
        <li><a>联系人列表1</a><span class="glyphicon glyphicon-chevron-left"></span></li>
        <li><a>联系人列表2</a><span class="glyphicon glyphicon-chevron-left"></span></li>
        <li><a>联系人列表3</a><span class="glyphicon glyphicon-chevron-left"></span></li>
        <li><a>联系人列表4</a><span class="glyphicon glyphicon-chevron-left"></span></li>
        <li><a href="/">返回首页</a><span class="glyphicon glyphicon-chevron-left"></span></li>
      </ul>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
  <script>
      $(function () {
          function updateBind() {
              $('.updateBtn').on('click',function () {
                  var index=this.id.slice(6);
                  var name=document.getElementById('contact'+index).firstElementChild.innerText;
                  var newName=document.getElementById('updateName'+index).value;
                  var telephone=document.getElementById('updateTelephone'+index).value;
                  var mobile=document.getElementById('updateMobile'+index).value;
                  var company=document.getElementById('updateCompany'+index).value;
                  var post=document.getElementById('updatePost'+index).value;

                  if(newName!=''){
                      var data={
                          name: name,
                          newName: newName,
                          telephone:telephone,
                          mobile:mobile,
                          company:company,
                          post:post
                      };
                      $.ajax({
                          url: '/addressList/updateContact',
                          type: 'post',
                          data: data,
                          success: function(data,status){
                              if(status == 'success'){
                                  //alert("请求成功");
                                  //$('#content').html(data);
//                              $('#results').html(data);
                                  $(".modal-backdrop").remove();
                                  $("body").removeClass('modal-open');
                                  query();
                              }
                          },
                          error: function(data,err){
                              alert("发送请求失败！！");
                          }
                      });
                  }
              });
          }
          function deleteBind() {
              $('.delete').on('click',function () {
                  var name=document.getElementById('contact'+this.id.slice(6)).firstElementChild.innerText;
                  var data={
                      name: name,
                  };
                  //alert(data.filter);
                  $.ajax({
                      url: '/addressList/deleteContact',
                      type: 'post',
                      data: data,
                      success: function(data,status){
                          if(status == 'success'){
                              //alert("请求成功");
                              //$('#content').html(data);
//                              $('#results').html(data);
                              query();
                          }
                      },
                      error: function(data,err){
                          alert("发送请求失败！！");
                      }
                  });
//                                  alert(this.tagName);
              });
          }
          function query() {
              var url=$('#filterType').val();
              if($('#filter').val()&&url){
                  var data={
                      filter: $('#filter').val()
                  };
                  //alert(data.filter);
                  $.ajax({
                      url: '/addressList/findContactsBy'+url,
                      type: 'post',
                      data: data,
                      success: function(data,status){
                          if(status == 'success'){
                              //alert("请求成功");
                              //$('#content').html(data);
                              $('#results').html(data);
                              deleteBind();
                              updateBind();
                          }
                      },
                      error: function(data,err){
                          alert("发送请求失败！！");
                      }
                  });
              }else if(!($('#filter').val())){
                  $.ajax({
                      url: '/addressList/findAllContacts',
                      type: 'get',
                      success: function(data,status){
                          if(status == 'success'){
                              //alert("请求成功");
                              //$('#content').html(data);
                              $('#results').html(data);
                              deleteBind();
                              updateBind();
                          }
                      },
                      error: function(data,err){
                          alert("发送请求失败！！");
                      }
                  });
              }
          }
          $('.dropdown a').click(function (event) {
              event.preventDefault();
          });
          $('.dropdown button').click(function (event) {
              event.preventDefault();
          });
          $('#addBtn').click(function () {
              var name=$('#addName').val();
              var telephone=$('#addTelephone').val();
              var mobile=$('#addMobile').val();
              var company=$('#addCompany').val();
              var post=$('#addPost').val();
              if(name!==''){
                  var data={
                      name: name,
                      telephone: telephone,
                      mobile: mobile,
                      company: company,
                      post: post
                  };
                  $.ajax({
                      url: '/addressList/addContact',
                      type: 'post',
                      data: data,
                      success: function(data,status){
                          if(status == 'success'){
                              //alert("请求成功");
                              //$('#content').html(data);
                              $('#addModal').modal('hide');
                              query();
                          }
                      },
                      error: function(data,err){
                          alert("发送请求失败！！");
                      }
                  });
              }
          });
          $('#userButton').mouseover(function() {
              $(this).addClass('open');
          }).mouseout(function() {
              $(this).removeClass('open');
          });
          $('#filter').on('input',function () {
             query();
          });
          $('#view').click(function (event) {
              event.preventDefault();
          });
          $('#filterList button').click(function () {
              $('#filterName').text('筛选条件');
              $('#filterType').val('');
          });
          $('#name').click(function () {
              $('#filterName').text('姓名');
              $('#filterType').val('Name');
              query();
          });
          $('#telephone').click(function () {
              $('#filterName').text('固定电话');
              $('#filterType').val('Telephone');
              query();
          });
          $('#mobile').click(function () {
              $('#filterName').text('手机');
              $('#filterType').val('Mobile');
              query();
          });
          $('#company').click(function () {
              $('#filterName').text('公司');
              $('#filterType').val('Company');
              query();
          });
          $('#post').click(function () {
              $('#filterName').text('职位');
              $('#filterType').val('Post');
              query();
          });
          $('#logout').click(function () {
              $.ajax({
                  url: '/logout',
                  type: 'post',
                  success: function(data,status){
                      if(status == 'success'){
                          //alert("请求成功");
                          //$('#content').html(data);
                          location.href='/';
                      }
                  },
                  error: function(data,err){
                      alert("发送请求失败！！");
                  }
              });
          });
          window.onload=query();
      });
  </script>
  </body>
</html>
