<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='stylesheets/style.css' />-->
    <!--<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">-->
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p>欢迎来到<%= title %></p>
      <p>
        这是一个<%= title%>
      </p>
    </div>
  </body>
</html>
